<!-- Banner -->	
{% for post in site.posts limit:1 %}	
<section id="banner" style="background-image: url(images/light-bl.svg), url(images/light-br.svg), url(images/overlay.png), url({{post.image}})">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatevers inside it. This means it wont
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>IndieSense</h2>
        </header>
        
        <p>Honest game reviews
        <br />
        We hold nothing back
        <br />
        Check out our latest review</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li>
                
                    <a href="{{ post.url }}" class="button fit scrolly">{{post.title}}</a>
                
                </li>
            </ul>
        </footer>
        
    </div>

</section>
{% endfor %}